@charset "UTF-8";

*{
    height:auto
}
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
   body{background-color: #e9cfd2;   
        font-family:  'Satisfy', cursive;
        }
   main{
          background-color: #f0ffff;
          border-radius: 10px;
          box-shadow: 5px 5px 10 px black;
          width:600px;
          padding: 10px;
          margin:auto;
          font-family: 'Satisfy', cursive;


        }
  
  header{
    border-radius: 100px 10px 0px 0px;
    padding: 10px;
    margin: auto;
    width: 610px;
  }
  
  h1#principal{
    font-family: 'Satisfy', cursive;
    text-align: right;
    color: green;
   }
   h1.alpha{
    color: white;
    background-color: green;
   }
   h1{
    text-align:center;
    color:green;
    
   }
   p{
    font-family: 'Satisfy', cursive;
    font-size:26px;
    text-align:center;
    color: green;
    
   }
   p.direita{
    margin-right: 10px;
   }
   ul{
    text-align: center;
    color: green;
    columns: 2;
    
   }
   
   li{
   
   text-align: left;
  }
   li.direita{
    padding-right: 50%;
   }
   img{
    text-align: center;

   }
   a{
    text-decoration: none;
    color: green;
   }
   div{
    margin-right: 20px;
    padding: auto;

   }
   iframe{
    margin-left: 20px;
   }
 